#root {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.container_app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5%;
  block-size: 50%;
}

.container_toDo {
  padding: 5%;
}

.title_h1 {
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
  font-size: 70px;
}

.list_toDo {
  block-size: 250px;
  overflow-y: scroll;
}

.list_toDo::-webkit-scrollbar {
  width: 10px;
}

.list_toDo::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.list_toDo::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #bec5c7, #1976d2);
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.nav_menu_count {
  color:#1976d2;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}